# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# Environment Variables
.env
.env.*

# Logs
*.log

# FastAPI
.fastapi/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type Checker
.mypy_cache/
.pyre/
.pytype/

# Ruff
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / Packaging
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db